body
{
	font-family: Arial;
	color: #DDD8D5;
	background-color: #CD9F7E;

	margin: 0;
}

.container
{
	display: flex;
	justify-content: center;
}

.menu
{
	display: flex;
	justify-content: space-between;
	width: 60%;
	padding-top: 25px;
}

.menu__item-title
{
	display: inline-block;
	cursor: pointer;
	padding: 5px;
	margin: 0;

}

.menu__item-title-active
{
	background-color: white;
	color: #CD9F7E;
}

.submenu
{
	display: none;
	position: absolute;

    padding: 5px;
    margin: 0;
    	background-color: white;
	color: #CD9F7E;
}

.submenu-active
{
	display: block;
}

.submenu__title
{
    cursor: pointer;
    list-style-type: none;
    padding: 5px 0 5px 0;
}

.submenu__title:hover
{
	opacity: .5;
}